@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Courier Prime", monospace;
  --color-main: var(--main);
}

:root {
  --main: rgb(250, 183, 0);
}

::selection {
  background: --alpha(var(--main) / 20%);
}
@layer components {
  html,
  body {
    height: 100%;
  }
  .active {
    @apply underline decoration-main underline-offset-3 decoration-3 decoration-double;
  }
}
