@import "tailwindcss";

@theme {
  --font-sans: "Sometype Mono Variable", monospace;
  --color-main: var(--main);
}

:root {
  --main: rgb(250, 183, 0);
}

::selection {
  background: --alpha(var(--main) / 20%);
}
@layer components {
  html,
  body {
    height: 100%;
  }
  .active {
    background-image: linear-gradient(
      0deg,
      --alpha(var(--main) / 70%) 0.8em,
      transparent 0.3em
    );
  }
}
