---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <div class="mx-auto text-justify max-w-[44ch] text-xl">

  <p>Giallo Giallo Project is a platform specializing in contemporary art founded
    by Domenico Positano.</p>
  <p>The platform supports both new series of shows by
    emerging artists and private collectors in discovering and collecting
    international contemporary art through its extensive experience and vast
    network in the art world.
  </p>
  </div>
</Layout>
