---
import Layout from "@/layouts/Layout.astro";
import directus from "@/lib/directus";
import { readSingleton } from "@directus/sdk";

const global = await directus.request(readSingleton("global"));
---

<Layout title="About">
  <h1 class="text-center text-3xl pb-6">&nbsp;</h1>
  <div class="mx-auto text-justify prose" set:html={global.about} />
</Layout>
