---
import Layout from "@/layouts/Layout.astro";
import directus from "@/lib/directus";
import { readSingleton } from "@directus/sdk";
import { Image } from "astro:assets";

const global = await directus.request(readSingleton("global"));
---

<Layout title="Exit Through the Gift Shop">
  <div class="grid grid-col-1 gap-4 pt-12 p-20">
      <Image 
        src={`${import.meta.env.DIRECTUS_URL}/assets/${global.exit_image}?key=ex`} 
        alt={`Exit artwork image`} 
        class="border border-main"
        inferSize />
      <div class="text-justify prose pt-4" set:html={global.exit_description} />
  </div>
</Layout>
