---
import "@/styles/global.css";
import '@fontsource-variable/sometype-mono';

const { title } = Astro.props;

const currentPath = Astro.url.pathname.slice(1);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title} Giallo Giallo Project
    </title>
  </head>

  <body class="mx-auto flex max-w-6xl flex-col gap-8 p-10">
    <a href="/" class="text-3xl whitespace-nowrap">Giallo Giallo Project</a>
    <nav
      class="mx-auto flex w-full flex-col-reverse justify-between gap-3 md:flex-row md:items-center md:gap-12"
    >
      <div class="flex flex-col gap-3 md:flex-row md:gap-12">
        <a href="/">Projects</a>
        <a href="/">Exit Through the Gift Shop</a>
      </div>
      <a href="/about" class:list={[{ 'underline decoration-main underline-offset-3 decoration-3 decoration-double': currentPath === "about" }]}>
        About
      </a>
    </nav>
    <main class="h-full pt-16">
      <slot />
    </main>
    <!--<Footer />-->
  </body>
</html>
